.events {
    display: flex;
    flex-wrap: wrap;
    background: white;
    max-width: 100%;
    /* overflow-x: scroll; */
}
@media (max-width: 580px) {
    .events {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
