.events {
    display: flex;
    flex-wrap: wrap;
    background: white;
    max-width: 100%;
    /* overflow-x: scroll; */
}
@media (max-width: 500px) {
    .events {
        justify-content: space-between;
    }
}
