.baseData-header {
    display: grid;
    grid-template-columns: 50px 1fr auto;
    font-weight: bold;
    font-size: initial;
    color: #76a7cf;
    margin-bottom: 1rem;
}


.baseData-header-subject {
    grid-column: 2;
    text-align: left;
}