.list-header {
    display: grid;
    grid-template-columns: 50px 1fr auto;
    font-weight: bold;
    font-size: initial;
    color: #76a7cf;
    margin-bottom: 1rem;
}

.list-header-subject {
    grid-column: 2;
    text-align: left;
}

.list-header-date {
    grid-column: 3;
    text-align: right;
}


.no-items {
    text-align: center;
    font-size: 1.09rem;
    
}
