:host {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.task-item-inner {
    width: 100%;
    margin: 0 0 0 16px;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 4.8rem;
}

.task-item-inner-subject {
    text-align: left;
}

.task-item-inner-date {
    text-align: right;
}

.crossed-text {
    text-decoration: line-through;
}
