.container{
    width: 100%;
    display: flex;
    margin-bottom: 24px;
}

.task-item-inner{
    width: 100%;
    margin: 0 0 0 16px;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 4.8rem;
}

.task-item-inner-subject{
    text-align: left;
}

.task-item-inner-date{
    text-align: right
}

.checkbox{
    margin-bottom: 6px;
}
