.bg-gray {
    background-color: #e8e8e8;
}

:host {
    cursor: pointer;
    height: 100px;
    width: 50px;
    margin: 21px 42px 21px 42px;
    justify-items: center;
    display: grid;
}

.item-box {
    /* background-color: var(--main-bg-color); */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
}
.item-dote {
    margin: 12px 6px 12px 6px;
    height: 10px;
    width: 10px;
    border: 1px;
    border-radius: 50%;
}

.item-indikator-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item-indikator-line {
    width: 20px;
    height: 3px;
    /* margin-right: 2px; */
    background: #e8e8e8;
}
.hide-item {
    visibility: hidden;
}

@media (max-width: 500px) {
    :host {
        margin: 16px 24px 24px 24px;
    }
}

@media (min-width: 500px) {
    .item-indikator-line {
        width: 50px;
    }
}
