.bg-gray {
    background-color: #e8e8e8;
}

:host {
    cursor: pointer;
    height: 100px;
    width: 50px;
    margin: 21px 42px 21px 42px;
    justify-items: center;
    display: grid;
}

.item-box {
    /* background-color: var(--main-bg-color); */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
}
.item-box-triangle {
    height: 1px;
    border: 0.5em solid transparent;
    border-top-color: #e8e8e8;
}
.item-dote {
    margin: 0 6px 0 6px;
    height: 0.5em;
    width: 0.5em;
    border: 1px;
    border-radius: 50%;
}

.item-indikator-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item-indikator-line {
    width: calc(50% - 0.1rem);
    height: 0.1rem;
    background: #e8e8e8;
}
.hide-item {
    visibility: hidden;
}

.description {
    margin-top: 8px;
}

@media (max-width: 500px) {
    :host {
        margin: 16px 24px 24px 24px;
    }
}

@media (min-width: 500px) {
    .item-indikator-line {
        width: 50px;
    }
}
