.bg-color {
    background-color: #026dcb;
}

:host {
    cursor: pointer;
    height: auto;
    width: auto;
    margin: 0 16px 1rem 16px;
    justify-items: center;
    display: grid;
}

.item-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border-radius: 0.2rem;
}
.item-box-triangle {
    height: 1px;
    border: 0.5em solid transparent;
    border-top-color: #026dcb;
}
.item-dote {
    margin: 0 4px 0 4px;
    height: 0.6em;
    width: 0.6em;
    border: 1px;
    border-radius: 50%;
}

.item-indikator-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item-indikator-line {
    height: 0.125rem;
}
.hide-item {
    visibility: hidden;
}

.description {
    margin: 8px 3px 0 3px;
    font-weight: bold;
    word-break: break-all;
    text-align: center;
    hyphens: auto;
}

@media (max-width: 580px) {
    :host {
        margin: 6px 0px 6px 0px;
        font-size: 0.85em;
    }
    .item-indikator-line {
        width: 20px;
    }
}

@media (min-width: 580px) {
    .item-indikator-line {
        width: 50px;
    }
    .item-box-triangle {
        border-width: 0.6rem;
    }
}
